* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    color: #000;
}

a{
    &:hover{
        filter: invert();
    }

    img{
        display: inline-block;
        vertical-align: bottom;
    }
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0deg, rgb(165, 165, 255), rgb(200, 200, 255));
}