:root {
    --bg1: rgb(255, 255, 255);
    --bg2: rgb(205, 183, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Inter, sans-serif;
    text-decoration: none;
    color: #000;
}

a{
    height: fit-content;
    width: fit-content;
    
    &:hover * {
        font-weight: bolder !important;        
        filter: invert(32%) sepia(77%) saturate(633%) hue-rotate(220deg) brightness(92%) contrast(90%);
    }
}

#app {    
    background-image: linear-gradient(45deg, var(--bg1), var(--bg2), var(--bg1));
    
    padding: 1rem;
    
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
    min-height: 100svh;

    position: relative;
}

.leaflet-control-attribution{
    font-size: 0.7rem;
    display: none;
    border-radius: 0.5rem;
}

#mapContainer:hover .leaflet-control-attribution{
    display: block;
}